body {
  padding: 0;
  margin: 0;
}

.container {
  width: 940px;
  margin: auto;
  padding: 30px 42px 0px 42px;
}

.header {
  width: 940px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header .logo img {
  height: 40px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li {
  list-style: none;
  padding-left: 50px;
  font-size: 16px;
  font-family: "PingFang TC", serif;
  color: #3F5D45;
  font-weight: bold;
}

.banner {
  margin-bottom: 60px;
}

.main {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .sectionLeft {
  width: 300px;
  font-family: 'Noto Sans TC', sans-serif;
}

.main .sectionLeft p {
  text-align: center;
  background-color: #3F5D45;
  color: #EAF0ED;
  font-size: 24px;
  padding: 16px 0px;
  margin: 0;
}

.main .sectionLeft ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main .sectionLeft ul li a {
  display: block;
  font-size: 24px;
  line-height: 40px;
  color: #3F5D45;
  padding: 16px 0px;
  text-decoration: none;
}

.main .sectionLeft ul li a:hover {
  background-color: #EAF0ED;
}

.main .sectionRight {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.main .sectionRight .item {
  width: 300px;
  margin-bottom: 20px;
  position: relative;
}

.main .sectionRight .item .tag {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: 20px;
  padding: 10px;
  background-color: #3F5D45;
  color: white;
  font-family: "PingFang TC", serif;
  font-size: 16px;
  letter-spacing: 8px;
}

.main .sectionRight .item .myList {
  position: absolute;
  top: 20px;
  right: 19px;
  width: 20px;
}

.main .sectionRight .item img {
  display: block;
}

.main .sectionRight .item .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  border: #EAF0ED 0.5pt solid;
  height: 56px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #3F5D45;
}

.main .sectionRight .item .txt .priceBoder {
  position: absolute;
  border: #EAF0ED 0.5pt solid;
  right: 0;
  top: 0;
  height: 56px;
  width: 127px;
}

.main .sectionRight .item .cart {
  display: block;
  background-color: #EAF0ED;
  padding: 16px 90px;
  font-size: 24px;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  color: #3F5D45;
  font-weight: bold;
}

.container .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 60px;
}

.container .page .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: #EAF0ED 1pt solid;
}

.container .page .btn p {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #3F5D45;
}

.container .UperFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3F5D45;
  padding: 30px 122px;
}

.container .UperFooter .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .UperFooter .mail img {
  width: 40px;
  display: block;
}

.container .UperFooter .mail p {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  color: #EAF0ED;
  padding: 0px 20px;
}

.container .UperFooter .send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: #EAF0ED;
}

.container .UperFooter .send .mailLogo2 {
  position: relative;
  width: 56px;
  height: 56px;
}

.container .UperFooter .send .mailLogo2 .mailLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.container .UperFooter .send input {
  border: none;
  background-color: #EAF0ED;
  width: 200px;
  height: 56px;
  font-size: 20px;
  outline: none;
  padding: 0;
}

.container .UperFooter .send button {
  border: none;
  background-color: #FFE180;
  padding: 14.5px 20px;
  margin: 0;
}

.container .footer {
  padding: 40px 122px;
  background-color: #EAF0ED;
}

.container .footer .bigBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.container .footer .bigBox .FInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .bigBox .FInfo img {
  width: 171px;
  padding-bottom: 60px;
}

.container .footer .bigBox .FInfo .content {
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
  color: #3F5D45;
  padding: 0;
}

.container .footer .bigBox .FTxt {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #3F5D45;
  letter-spacing: 0.2rem;
}

.container .footer .smallBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .footer .smallBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container .footer .smallBox ul li {
  width: 32px;
  padding-right: 8px;
  display: inline-block;
}

.container .footer .smallBox p {
  font-size: 16px;
  color: #3F5D45;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */