$darkGreen:#3F5D45;
$lightGreen:#EAF0ED;
$font-lg:24px;
$font-mid:20px;
$font-sm:16px;
// flex設定套用群組設定
@mixin display($parameter1) {
    display: flex;
    justify-content: $parameter1;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    // width: 940px;
    // max-width RWD 寬度設定
    max-width: 940px;
    margin: 0 auto;
    padding: 1.8rem 2.6rem 0rem 2.6rem;
    .header {
        height: 40px;
        // 引用Scss自定義變數
        @include display(space-between);
        margin-bottom: 30px;
        .logo {
            width: 30%;
        }
        ul {
            display: flex;
            li {
                list-style: none;
                padding-left: 50px;
                font-size: $font-sm;
                font-family: "PingFang TC", serif;
                color: $darkGreen;
                font-weight: bold;
            }
        }
    }
    .banner {
        margin-bottom: 3rem;
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }
    .main {
        max-width: 940px;
        display: flex;
        justify-content: space-between;
        .sectionLeft {
            // 取消寫死寬度，改為 % 形成自適應效果
            width: 33%;
            font-family: 'Noto Sans TC', sans-serif;
            p {
                // 把p段落置中的語法, 太好用啦!!!!
                text-align: center;
                background-color: $darkGreen;
                color: $lightGreen;
                font-size: $font-lg;
                padding: 16px 0px;
                margin: 0;
            }
            ul {
                text-align: center;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        // 讓a > inline 變成 block 整塊都可點及
                        display: block;
                        font-size: $font-lg;
                        line-height: 40px;
                        color: $darkGreen;
                        padding: 16px 0px;
                        text-decoration: none;
                        &:hover {
                            background-color: $lightGreen;
                        }
                    }
                }
            }
        }
        .sectionRight {
            // width: 620px;
            // 取消寫死寬度，改為 % 形成自適應效果
            width: 66%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 20px;
            .item {
                width: 48%;
                margin-left: 1%;
                margin-bottom: 3%;
                position: relative;
                .tag {
                    // txt轉直式
                    writing-mode: vertical-rl;
                    position: absolute;
                    left: 1.5rem;
                    padding: 0.6rem;
                    background-color: $darkGreen;
                    color: white;
                    font-family: "PingFang TC", serif;
                    font-size: $font-sm;
                    letter-spacing: 0.5rem;
                }
                .myList {
                    position: absolute;
                    top: 20px;
                    right: 19px;
                    width: 20px;
                }
                img {
                    // 讓圖片自適應的語法 max-width: 100%;
                    max-width: 100%;
                    // height: auto;
                    // 移除圖片下方的空白
                    display: block;
                }
                .txt {
                    @include display(space-around);
                    // max-width: 100%;
                    position: relative;
                    margin: 0;
                    border: $lightGreen 0.5pt solid;
                    height: 56px;
                    font-family: 'Noto Sans TC', sans-serif;
                    font-size: $font-mid;
                    font-weight: lighter;
                    color: $darkGreen;
                    // .priceBoder {
                    //     position: absolute;
                    //     border: $lightGreen 0.5pt solid;
                    //     right: 0;
                    //     top: 0;
                    //     height: 56px;
                    //     width: 127px;
                    // }
                }
                .cart {
                    display: block;
                    background-color: $lightGreen;
                    padding: 16px;
                    text-align: center;
                    font-size: $font-lg;
                    margin: 0;
                    font-family: 'Noto Sans TC', sans-serif;
                    color: $darkGreen;
                    font-weight: bold;
                }
            }
        }
    }
    .page {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
        .btn {
            @include display(center);
            width: 60px;
            height: 60px;
            border: $lightGreen 1pt solid;
            // a {
            //     display: block;
            //     padding: 30px;
            //     font-family: 'Noto Sans TC', sans-serif;
            //     font-size: $font-mid;
            //     color: $darkGreen;
            //     text-decoration: none;
            //     &:focus {
            //         color: $lightGreen;
            //     }
            // }
            p {
                display: block;
                font-family: 'Noto Sans TC', sans-serif;
                font-size: $font-mid;
                color: $darkGreen;
                &:focus {
                    color: $lightGreen;
                }
            }
            &:hover {
                background-color: $darkGreen;
            }
        }
    }
    .UperFooter {
        @include display(space-between);
        background-color: $darkGreen;
        padding: 30px 122px;
        .mail {
            display: flex;
            img {
                width: 40px;
                display: block;
            }
            p {
                font-family: 'Noto Sans TC', sans-serif;
                font-size: $font-lg;
                color: $lightGreen;
                padding: 0px 20px;
            }
        }
        .send {
            @include display(flex-end);
            height: 56px;
            background-color: $lightGreen;
            .mailLogo2 {
                position: relative;
                width: 56px;
                height: 56px;
                .mailLogo {
                    position: absolute;
                    // 用傳統方法定位圖片
                    top: 50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
            input {
                border: none;
                background-color: $lightGreen;
                width: 200px;
                height: 56px;
                font-size: $font-mid;
                outline: none;
                padding: 0;
            }
            button {
                // 去除btn、input預設邊框用border: none;
                border: none;
                background-color: #FFE180;
                padding: 14.5px 20px;
                margin: 0;
            }
        }
    }
    .footer {
        padding: 2rem 6rem;
        background-color: $lightGreen;
        .bigBox {
            @include display(space-between);
            margin-bottom: 20px;
            .FInfo {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img {
                    width: 171px;
                    padding-bottom: 60px;
                }
                .content {
                    list-style: none;
                    font-family: 'Noto Sans TC', sans-serif;
                    font-size: $font-sm;
                    color: $darkGreen;
                    // list 點點消掉後會產生空白，用padding消掉
                    padding: 0;
                }
            }
            .FTxt {
                // txt轉直式
                writing-mode: vertical-rl;
                font-family: 'Noto Sans TC', sans-serif;
                font-size: $font-mid;
                color: $darkGreen;
                letter-spacing: 0.2rem;
            }
        }
        .smallBox {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    width: 32px;
                    padding-right: 8px;
                    display: inline-block;
                }
            }
            p {
                font-size: $font-sm;
                color: $darkGreen;
                margin: 0;
            }
        }
    }
}

@media(max-width:767px) {
    .container {
        padding: 30px 0 0 0;
        .banner {
            margin: 0;
        }
        .main {
            flex-direction: column;
            .sectionLeft {
                width: 100%;
                margin: 0 0 8% 0;
                p {
                    font-size: 30px;
                }
                ul {
                    li {
                        a {
                            font-size: 30px;
                        }
                    }
                }
            }
            .sectionRight {
                flex-direction: column;
                width: 100%;
                margin: 0;
                .item {
                    width: 80%;
                    margin: 0 10% 10% 10%;
                    .txt {
                        p {
                            font-size: $font-lg;
                        }
                    }
                    img {
                        // 發現用 max-width 圖片會固定滿版高度
                        // 使的圖片不夠大的情況下對於 RWD 的80%寬度無法橫向延伸滿足,形成空白, 改為 width: 100%;
                        width: 100%;
                    }
                }
            }
        }
        .page {
            justify-content: center;
        }
        .UperFooter {
            flex-direction: column;
            padding: 0;
            .mail {
                p {
                    margin: 1.5rem 0;
                }
            }
            .send {
                margin-bottom: 1.5rem;
            }
        }
        .footer {
            padding-top: 3rem;
            .bigBox {
                .FInfo {
                    img {
                        padding-bottom: 30px;
                    }
                }
                .FTxt {
                    display: none;
                }
            }
            .smallBox {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}