$darkGreen:#3F5D45;
$lightGreen:#EAF0ED;
.container {
    width: 940px;
    margin: auto;
    // background: #ffcc00;
    padding: 30px 42px 0px 42px;
}

.header {
    width: 940px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    .logo img {
        height: 40px;
    }
    ul {
        display: flex;
        li {
            list-style: none;
            padding-left: 50px;
            font-size: 16px;
            font-family: "PingFang TC", serif;
            color: $darkGreen;
            font-weight: bold;
        }
    }
}

.banner {
    margin-bottom: 60px;
}

.main {
    width: 940px;
    display: flex;
    justify-content: space-between;
    .sectionLeft {
        width: 300px;
        font-family: 'Noto Sans TC', sans-serif;
        p {
            // 把p段落置中的語法, 太好用啦!!!!
            text-align: center;
            padding: 16px 102px;
            background-color: $darkGreen;
            color: $lightGreen;
            margin: 0;
            font-size: 24px;
            height: 65px;
            // line-height: 0;
            margin: 0;
        }
        ul {
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-size: 24px;
                height: 65px;
                color: $darkGreen;
                padding: 16px 64px;
                &:hover {
                    background-color: $lightGreen;
                }
            }
        }
    }
    .sectionRight {
        width: 620px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
            width: 300px;
            margin-bottom: 20px;
            position: relative;
            .tag {
                writing-mode: vertical-rl;
                position: absolute;
                left: 20px;
                padding: 10px;
                background-color: $darkGreen;
                color: white;
                font-family: "PingFang TC", serif;
                font-size: 16px;
                letter-spacing: 8px;
            }
            .myList {
                position: absolute;
                top: 20px;
                right: 19px;
                width: 20px;
            }
            img {
                display: block;
            }
            .txt {
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
                margin: 0;
                border: $lightGreen 0.5pt solid;
                height: 56px;
                font-family: 'Noto Sans TC', sans-serif;
                font-size: 20px;
                font-weight: lighter;
                color: $darkGreen;
                .priceBoder {
                    position: absolute;
                    border: $lightGreen 0.5pt solid;
                    right: 0;
                    top: 0;
                    height: 56px;
                    width: 127px;
                }
            }
            .cart {
                display: block;
                background-color: $lightGreen;
                padding: 16px 90px;
                font-size: 24px;
                margin: 0;
                font-family: 'Noto Sans TC', sans-serif;
                font-size: 24px;
                color: $darkGreen;
                font-weight: bold;
            }
        }
    }
}

.page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .btn {
        width: 60px;
        height: 60px;
        border: $lightGreen 0.5pt solid;
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 20px;
        color: $darkGreen;
        padding: 0;
        margin: 0;
    }
}