.container {
  width: 940px;
  margin: auto;
  padding: 30px 42px 0px 42px;
}

.header {
  width: 940px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.header .logo img {
  height: 40px;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul li {
  list-style: none;
  padding-left: 50px;
  font-size: 16px;
  font-family: "PingFang TC", serif;
  color: #3F5D45;
  font-weight: bold;
}

.banner {
  margin-bottom: 60px;
}

.main {
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .sectionLeft {
  width: 300px;
  font-family: 'Noto Sans TC', sans-serif;
}

.main .sectionLeft p {
  text-align: center;
  padding: 16px 102px;
  background-color: #3F5D45;
  color: #EAF0ED;
  margin: 0;
  font-size: 24px;
  height: 65px;
  margin: 0;
}

.main .sectionLeft ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main .sectionLeft ul li {
  font-size: 24px;
  height: 65px;
  color: #3F5D45;
  padding: 16px 64px;
}

.main .sectionLeft ul li:hover {
  background-color: #EAF0ED;
}

.main .sectionRight {
  width: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .sectionRight .item {
  width: 300px;
  margin-bottom: 20px;
  position: relative;
}

.main .sectionRight .item .tag {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  left: 20px;
  padding: 10px;
  background-color: #3F5D45;
  color: white;
  font-family: "PingFang TC", serif;
  font-size: 16px;
  letter-spacing: 8px;
}

.main .sectionRight .item .myList {
  position: absolute;
  top: 20px;
  right: 19px;
  width: 20px;
}

.main .sectionRight .item img {
  display: block;
}

.main .sectionRight .item .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
  border: #EAF0ED 0.5pt solid;
  height: 56px;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  color: #3F5D45;
}

.main .sectionRight .item .txt .priceBoder {
  position: absolute;
  border: #EAF0ED 0.5pt solid;
  right: 0;
  top: 0;
  height: 56px;
  width: 127px;
}

.main .sectionRight .item .cart {
  display: block;
  background-color: #EAF0ED;
  padding: 16px 90px;
  font-size: 24px;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 24px;
  color: #3F5D45;
  font-weight: bold;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .btn {
  width: 60px;
  height: 60px;
  border: #EAF0ED 0.5pt solid;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  color: #3F5D45;
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */